/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Paleta */
:root{
    --prin: #3DF7D5;
    --secun: #0A0A0A;
    --cont: #151515;
    --det: #1E1E1E;
    --text: #ECE8E1;
}

/* Configurações Básicas */
html{
    font-size: 62.5%;
}

html::-webkit-scrollbar{
    display: none;
}

body::-webkit-scrollbar{
    width: 10px;

    background-color: var(--secun);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--prin);
}

/* Animações */
@keyframes movimentoMockups{
    0%{
        transform: translateY(80vh);
    }

    20%{
        transform: translateY(-100px);
    }

    40%{
        transform: translateY(-120px);
    }

    60%{
        transform: translateY(-120px);
    }

    60%{
        transform: translateY(-100px);
    }

    100%{
        transform: translateY(80vh);
    }
}

@keyframes piscaPisca{
    0%{
        box-shadow: 0px 0px 40px 5px var(--prin);
    }

    50%{
        box-shadow: 0px 0px 20px 2px var(--prin);
    }

    100%{
        box-shadow: 0px 0px 40px 5px var(--prin);
    }
}

/* Geral */
*{
    margin: 0;
    padding: 0;
    outline: 0;

    border: none;
    box-sizing: border-box;

    font-family: 'Rubik';

    z-index: 1;
}

a{
    color: var(--text);
    text-decoration: none;
}

h2{
    color: var(--text);
    font-size: 4rem;
    font-family: "Rubik";
    font-weight: 500;

    text-align: center;
    line-height: 8rem;

    margin-bottom: 80px;
}

h2::after,
h2::before{
    content: "";

    display: block;

    height: 5px;    

    background-color: var(--prin);

    border-radius: 3px;

    margin-inline: auto;

    box-shadow: 0px 0px 10px 2px var(--prin);
}

h2::before{
    width: 800px;
}

h2::after{
    width: 200px;
}

body{
    background-color: var(--secun);
}

section{
    height: fit-content;

    background-color: var(--secun);

    padding: 80px;
}

.dvContainer{
    width: 1200px;

    margin-inline: auto;
}

.button{
    background-color: var(--prin);

    color: var(--secun);
    font-size: 2.2rem;
    font-family: Nunito;
    font-weight: 800;

    border-radius: 12px;

    padding: 15px 30px;
}

.button:hover{
    cursor: pointer;
}

/* Header */
header{
    display: flex;

    height: 100vh;
    width: 100%;

    background-color: var(--secun);

    padding: 80px;

    flex-direction: column;
    align-items: center;
}

header #imgLogo{
    height: 100px;

    margin-bottom: 80px;
}

header #dvHeroArea{
    display: flex;
    width: 100%;
}

header #dvHeroArea #dvHATexto{
    flex: 1; 
    display: flex;

    flex-direction: column;
    align-items: center;
}   

header #dvHeroArea #dvHATexto h1{
    display: flex;

    width: 100%;

    color: var(--text);

    margin-bottom: 20px;

    flex-direction: column;
    align-items: center;
}

header #dvHeroArea #dvHATexto h1 span:first-child{
    font-size: 4.1rem;
    font-weight: 400;
}

header #dvHeroArea #dvHATexto h1 span:last-child{
    font-size: 8rem;
    font-weight: 600;
}

header #dvHeroArea #dvHATexto p{
    width: 70%;

    color: var(--text);
    font-family: Nunito;
    font-size: 2rem;
    font-weight: 500;

    text-align: center;

    margin-bottom: 80px;
}

header #dvHeroArea #dvHAImagens{
    flex: 1;
    display: flex;

    justify-content: center;
}

header #dvHeroArea #dvHAImagens img{
    z-index: 1;

    width: 70%;

    animation-name: movimentoMockups;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    position: relative;
}

/* QuemSou */
#sctQuemSou{
    z-index: 2;

    background-color: var(--cont);

    position: relative;
}

#sctQuemSou .dvContainer{
    flex-direction: column;
}

#sctQuemSou .dvInfos{
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
    grid-template-areas:
        "dados dados foto foto trajetoria trajetoria"
        "dados dados foto foto trajetoria trajetoria"
        "dados dados foto foto skills skills"
        "contato contato curriculo curriculo skills skills" 
}

#sctQuemSou .dvInfos .dvCard{
    background-color: var(--det);

    border-radius: 12px;

    padding: 30px;
}

#sctQuemSou .dvInfos #dvDados{
    grid-area: dados;
}

#sctQuemSou .dvInfos #dvDados ul{
    display: flex;
    
    flex-direction: column;
}

#sctQuemSou .dvInfos #dvDados ul li{
    color: var(--text);
    font-size: 1.6rem;
    font-family: Nunito;
    font-weight: 600;

    list-style-type: none;

    margin-bottom: 20px;
}

#sctQuemSou .dvInfos #dvDados ul li span{
    color: var(--prin);
    font-family: Nunito;
    font-weight: 800;
}

#sctQuemSou .dvInfos #dvDados ul #liPort{
    margin-bottom: 8px;
}

#sctQuemSou .dvInfos #dvDados ul li #spIngles{
    opacity: 0;
}

#sctQuemSou .dvInfos #dvContato{
    grid-area: contato;

    display: flex;

    padding: 20px;

    justify-content: space-evenly;
}

#sctQuemSou .dvInfos #dvContato div{
    height: 60px;
    width: 60px;

    background-color: var(--cont);
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
}

#sctQuemSou .dvInfos #dvContato div:hover{
    cursor: pointer;
}

#sctQuemSou .dvInfos #dvContato #dvEmail{
    background-image: url("../images/icon/email.svg");
    background-size: 60%;
}

#sctQuemSou .dvInfos #dvContato #dvZap{
    background-image: url("../images/icon/whatsapp.svg");
    background-size: 55%;
}

#sctQuemSou .dvInfos #dvContato #dvLinked{
    background-image: url("../images/icon/linkedin.svg");
    background-size: 50%;
}

#sctQuemSou .dvInfos #dvFundoFoto{
    grid-area: foto;

    display: flex;

    justify-content: center;
    align-items: center;
}

#sctQuemSou .dvInfos #dvFundoFoto #dvFoto{
    height: 300px;
    width: 300px;

    background: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;

    background-image: url('../images/dev/perfil.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;

    box-shadow: 0px 0px 30px -2px var(--secun);

    animation-name: piscaPisca;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#sctQuemSou .dvInfos #dvCurriculo{
    grid-area: curriculo;

    display: flex;

    justify-content: space-evenly;
    align-items: end;
}

#sctQuemSou .dvInfos #dvCurriculo span{
    display: flex;

    height: 60px;
    
    background-color: var(--prin);
    
    align-items: center;
}

#sctQuemSou .dvInfos #dvCurriculo span:hover{
    cursor: default;
}

#sctQuemSou .dvInfos #dvCurriculo .btnCurriculo{
    height: 60px;
    width: 60px;

    background-color: var(--prin);
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 12px;
}

#sctQuemSou .dvInfos #dvCurriculo .btnCurriculo:hover{
    cursor: pointer;
}

#sctQuemSou .dvInfos #dvCurriculo #btnVisualizar{
    background-image: url("../images/icon/olho.svg");
    background-size: 70%;
}

#sctQuemSou .dvInfos #dvCurriculo #btnBaixar{
    background-image: url("../images/icon/arrowDown.svg");
    background-size: 60%;
}

#sctQuemSou .dvInfos #dvCurriculo #dvVisuCurriculo{
    z-index: 3;

    display: none;

    height: 100vh;
    width: 100vw;

    background-color: rgb(0, 0, 0, 0.6);

    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    transition: opacity 500ms linear;

    justify-content: center;
    align-items: center;
}

#sctQuemSou .dvInfos #dvCurriculo #dvVisuCurriculo #ifCurriculo{
    height: 80vh;
    width: 50vw;

    border-radius: 12px;

    transform: scale(0.2);
    transition: transform 200ms linear;
}

#sctQuemSou .dvInfos #dvCurriculo #dvVisuCurriculo #imgX{
    height: 30px;
    width: 30px;

    position: fixed;
    top: 60px;
    right: 60px;
}

#sctQuemSou .dvInfos #dvCurriculo #dvVisuCurriculo #imgX:hover{
    cursor: pointer;
}

#sctQuemSou .dvInfos #dvTrajetoria{
    z-index: 0;
    grid-area: trajetoria;

    display: flex;

    flex-direction: column;
}

#sctQuemSou .dvInfos #dvTrajetoria #dvBolhas{
    display: flex;

    height: fit-content;
    width: 100%;

    margin-bottom: 20px;

    justify-content: space-between;
}

#sctQuemSou .dvInfos #dvTrajetoria #dvBolhas div{
    height: 40px;
    width: 40px;

    background-color: var(--cont);

    border-radius: 50%;

    transition: background-color 200ms linear;
}

#sctQuemSou .dvInfos #dvTrajetoria #dvBolhas div:hover{
    cursor: pointer;
}

#sctQuemSou .dvInfos #dvTrajetoria #dvBolhas .dvAtivada{
    background-color: var(--prin);
}

#sctQuemSou .dvInfos #dvTrajetoria #dvFormacao{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "formacao formacao"
        "lugar tipo"
        "duracao .";
}

#sctQuemSou .dvInfos #dvTrajetoria #dvFormacao p{
    color: var(--text);
    font-size: 1.6rem;

    margin-bottom: 20px;
}

#sctQuemSou .dvInfos #dvTrajetoria #dvFormacao #pFormacao{
    grid-area: formacao;
    
    font-size: 2.2rem;
}

#sctQuemSou .dvInfos #dvTrajetoria #dvFormacao #pLugar{
    grid-area: lugar;
}

#sctQuemSou .dvInfos #dvTrajetoria #dvFormacao #pTipo{
    grid-area: tipo;
}

#sctQuemSou .dvInfos #dvTrajetoria #dvFormacao #pDuracao{
    grid-area: duracao;
}

#sctQuemSou .dvInfos #dvSkills{
    z-index: 0;
    grid-area: skills;

    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;

    justify-content: center;
    align-items: center;
}

#sctQuemSou .dvInfos #dvSkills img{
    width: 80%;
}

/* Projetos */
#sctProjetos #dvCategorias{
    display: grid;

    height: fit-content;
    width: 100%;

    margin-bottom: 40px;

    grid-template-columns: repeat(auto-fill, minmax(110px, 110px));
    grid-gap: 20px;

    justify-content: center;
}

#sctProjetos #dvCategorias div{
    display: flex;

    height: 120px;
    width: 120px;

    background-color: var(--cont);

    text-align: center;
    
    border-radius: 12px;

    margin-right: 20px;
    padding: 15px;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#sctProjetos #dvCategorias div:hover{
    cursor: pointer;
}

#sctProjetos #dvCategorias .dvSelecionado{
    background-color: var(--prin);
}

#sctProjetos #dvCategorias .dvSelecionado span{
    color: var(--secun);
    font-weight: 900;
}

#sctProjetos #dvCategorias img{
    height: 60px;
}

#sctProjetos #dvCategorias span{
    color: var(--text);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Nunito;
}

#sctProjetos #dvSites{
    display: grid;

    background-color: var(--cont);

    border-radius: 12px;

    padding: 30px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
}

#sctProjetos #dvSites .dvProjeto{
    height: fit-content;
    width: fit-content;

    background-color: var(--secun);

    border-radius: 12px;

    box-shadow: 0 0 20px 0px var(--secun);

    opacity: 0;
    transform: translateY(60px);

    transition: 
        transform 500ms ease-out,
        opacity 800ms ease;
}

#sctProjetos #dvSites .dvProjeto .imgProjeto{
    height: 200px;
    width: 100%;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    object-fit: cover;

    overflow: hidden;
}

#sctProjetos  #dvSites .dvProjeto .hProjeto{
    color: var(--text);
    font-size: 2.6rem;
    font-family: "Rubik";

    text-align: center;

    margin-top: 20px;
}

#sctProjetos #dvSites .dvProjeto .dvFundoTech{
    display: flex;
    
    height: 80px;
    width: 100%;

    margin-top: 20px;
    margin-bottom: 20px;

    justify-content: center;
    align-items: center;
}

#sctProjetos  #dvSites .dvProjeto .dvFundoTech img{
    height: 50px;

    margin-left: 10px;
    margin-right: 10px;
}

#sctProjetos #dvSites .dvProjeto .dvFundoBut{
    display: flex;

    height: fit-content;
    width: 100%;
}

#sctProjetos #dvSites .dvProjeto .dvFundoBut .btnProjeto,
#sctProjetos #dvSites .dvProjeto .dvFundoBut .btnRepositorio{
    flex: 1;

    display: flex;

    height: 60px;

    background: var(--secun);
}

#sctProjetos #dvSites .dvProjeto .dvFundoBut .btnProjeto,
#sctProjetos #dvSites .dvProjeto .dvFundoBut .btnProjeto .aProjeto{
    border-bottom-left-radius: 12px;
}

#sctProjetos #dvSites .dvProjeto .dvFundoBut .btnRepositorio,
#sctProjetos #dvSites .dvProjeto .dvFundoBut .btnRepositorio .aRepositorio{
    border-bottom-right-radius: 12px;
}

#sctProjetos #dvSites .dvProjeto .dvFundoBut .btnProjeto .aProjeto,
#sctProjetos #dvSites .dvProjeto .dvFundoBut .btnRepositorio .aRepositorio{
    height: 100%;
    width: 100%;

    color: var(--text);
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Nunito;

    transition:
        color 250ms linear,
        font-weight 250ms linear,
        background 250ms linear,
        box-shadow 250ms linear;

    padding: 20px;

    justify-content: center;
    align-items: center;
}

#sctProjetos #dvSites .dvProjeto .dvFundoBut button a:hover{
    cursor: pointer;
}

footer{
    display: flex;

    background-color: var(--cont);

    color: var(--text);
    font-size: 1.6rem;

    padding-top: 60px;
    padding-bottom: 60px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    margin-bottom: 40px;
}

footer p span{
    color: var(--prin);
    font-weight: 600;
}

footer span{
    font-family: Nunito;
}

footer p:hover,
footer span:hover{
    cursor: default;    
}

#dvCreditos{
    z-index: 3;

    /* display: flex; */
    display: none;

    height: 100vh;
    width: 100vw;

    background-color: #000;

    position: fixed;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;
}

#dvCreditos img{
    width: 200px;
}

@media(max-width: 1440px){
    .dvContainer{
        width: 80vw;
    }

    #sctQuemSou .dvInfos{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "dados dados foto foto"
            "dados dados foto foto"
            "contato contato curriculo curriculo"
            "trajetoria trajetoria skills skills"
            "trajetoria trajetoria skills skills"
    }

    #sctQuemSou .dvInfos #dvSkills img{
        width: 60px;
    }

    h2::before{
        width: 60vw;
    }
}

@media(max-width: 1200px){
    header #dvHeroArea #dvHATexto h1 span:first-child{
        font-size: 3rem;
    }

    header #dvHeroArea #dvHATexto h1 span:last-child{
        font-size: 6rem;
    }

    header #dvHeroArea #dvHAImagens img{
        width: 90%;
    }

    #sctProjetos #dvSites{ 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:950px){
    @keyframes movimentoMockups{
        0%{
            transform: translateY(100vh);
        }

        20%{
            transform: translateY(60px);
        }

        40%{
            transform: translateY(30px);
        }

        60%{
            transform: translateY(30px);
        }

        60%{
            transform: translateY(60px);
        }

        100%{
            transform: translateY(100vh);
        }
    }

    header,
    section{
        padding: 40px;
    }

    header #imgLogo{
        height: 100px;

        margin-bottom: 40px;
    }

    header #dvHeroArea{
        flex-direction: column;
    }

    header #dvHeroArea #dvHATexto h1 span:first-child{
        font-size: 2.6rem;
    }

    header #dvHeroArea #dvHATexto h1 span:last-child{
        font-size: 5rem;
    }

    header #dvHeroArea #dvHATexto p{
        font-size: 1.6rem;

        margin-bottom: 40px;
    }

    .button{
        font-size: 1.6rem;
    }

    header #dvHeroArea #dvHAImagens img{
        height: 200px;
    }

    h2{
        font-size: 3rem;
    }

    #sctQuemSou .dvInfos{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "foto foto foto foto"
            "curriculo curriculo curriculo curriculo"
            "dados dados dados contato"
            "dados dados dados contato"
            "trajetoria trajetoria trajetoria trajetoria"
            "skills skills skills skills"
    }

    #sctQuemSou .dvInfos #dvFundoFoto #dvFoto{
        height: 250px;
        width: 250px;
    }

    #sctQuemSou .dvInfos #dvCurriculo{
        margin-top: 40px;
        margin-bottom: 10px;

        justify-content: center;
    }

    #sctQuemSou .dvInfos #dvCurriculo span,
    #sctQuemSou .dvInfos #dvCurriculo .btnCurriculo{
        margin-left: 10px;
        margin-right: 10px;
    }

    #sctQuemSou .dvInfos #dvContato{
        flex-direction: column;
        align-items: center;
    }

    #sctQuemSou .dvInfos #dvSkills img{
       margin: auto;
    }

    #sctProjetos #dvCategorias div{
        height: 110px;
        width: 110px;
    }

    #sctProjetos #dvCategorias img{
        height: 50px;
    }

    #sctProjetos #dvSites .dvProjeto .imgProjeto{
        height: 150px;
    }

    #sctProjetos  #dvSites .dvProjeto .hProjeto{
        font-size: 2rem;
    }

    #sctProjetos  #dvSites .dvProjeto .dvFundoTech img{
        height: 40px;
    }

    #sctProjetos #dvSites .dvProjeto .dvFundoBut .btnProjeto .aProjeto,
    #sctProjetos #dvSites .dvProjeto .dvFundoBut .btnRepositorio .aRepositorio{
        font-size: 1.6rem;
    }
}

@media(max-width:750px){
    body::-webkit-scrollbar{
        width: 0px;
    }

    #sctProjetos #dvSites{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    #sctProjetos #dvSites .dvProjeto{
         margin: auto;
    }
}

@media(max-width:500px){
    h2{
        font-size: 2.6rem;
    }

    h2::before{
        width: 90%;
    }

    h2::after{
        width: 40%;
    }

    header #imgLogo{
        height: 80px;
    }

    header #dvHeroArea #dvHATexto h1 span:first-child{
        font-size: 2rem;
    }

    header #dvHeroArea #dvHATexto h1 span:last-child{
        font-size: 3.8rem;
    }

    header #dvHeroArea #dvHATexto p{
        font-size: 1.5rem;
    }

    .button{
        font-size: 1.5rem;
    }

    #sctQuemSou .dvInfos{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "foto"
            "curriculo"
            "dados"
            "contato"
            "trajetoria"
            "skills"
    }

    #sctQuemSou .dvInfos #dvFundoFoto #dvFoto{
        height: 200px;
        width: 200px;
    }

    #sctQuemSou .dvInfos #dvContato{
        flex-direction: row;
    }

    #sctQuemSou .dvInfos #dvTrajetoria #dvFormacao #pFormacao{
        font-size: 1.8rem;
    }

    #sctQuemSou .dvInfos #dvTrajetoria #dvFormacao p{
        font-size: 1.4rem;
    }

    #sctQuemSou .dvInfos #dvSkills img{
        height: 50px;
    }

    #sctProjetos #dvCategorias div{
        height: 110px;
        width: 110px;
    }

    #sctProjetos #dvCategorias img{
        height: 50px;
    }

    #sctProjetos #dvSites .dvProjeto .imgProjeto{
        height: 150px;
    }

    #sctProjetos  #dvSites .dvProjeto .hProjeto{
        font-size: 2rem;
    }

    #sctProjetos  #dvSites .dvProjeto .dvFundoTech img{
        height: 40px;
    }

    #sctProjetos #dvSites .dvProjeto .dvFundoBut .btnProjeto .aProjeto,
    #sctProjetos #dvSites .dvProjeto .dvFundoBut .btnRepositorio .aRepositorio{
        font-size: 1.6rem;
    }
}

@media(max-width:500px){
    .dvContainer{
        width: 100%;
    }

    h2{
        font-size: 2.6rem;

        margin-bottom: 40px;
    }

    h2::before{
        width: 90%;
    }

    h2::after{
        width: 40%;
    }

    header,
    section{
        padding: 40px 20px;
    }

    header #imgLogo{
        height: 80px;
    }

    header #dvHeroArea #dvHATexto h1 span:first-child{
        font-size: 2rem;
    }

    header #dvHeroArea #dvHATexto h1 span:last-child{
        font-size: 3.8rem;
    }

    header #dvHeroArea #dvHATexto p{
        font-size: 1.5rem;
    }

    .button{
        font-size: 1.5rem;
    }

    #sctQuemSou .dvInfos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "foto"
            "curriculo"
            "dados"
            "contato"
            "trajetoria"
            "skills"
    }

    #sctQuemSou .dvInfos .dvCard{
        max-width: 500px;
        min-width: 240px;

        padding: 20px;
    }

    #sctQuemSou .dvInfos #dvFundoFoto #dvFoto{
        height: 200px;
        width: 200px;
    }

    #sctQuemSou .dvInfos #dvCurriculo span{
        height: 50px;
    }

    #sctQuemSou .dvInfos #dvCurriculo .btnCurriculo{
        height: 50px;
        width: 50px;
    }

    #sctQuemSou .dvInfos #dvDados ul li{
        font-size: 1.4rem;
    }

    #sctQuemSou .dvInfos #dvContato{
        flex-direction: row;
    }

    #sctQuemSou .dvInfos #dvContato div{
        height: 50px;
        width: 50px;
    }

    #sctQuemSou .dvInfos #dvTrajetoria #dvBolhas div{
        height: 30px;
        width: 30px;
    }

    #sctQuemSou .dvInfos #dvSkills img{
        max-height: 40px;
        min-height: 30px;

        max-width: 40px;
        min-width: 30px;
    }

    #sctProjetos #dvSites .dvProjeto .dvFundoBut .btnProjeto .aProjeto,
    #sctProjetos #dvSites .dvProjeto .dvFundoBut .btnRepositorio .aRepositorio{
        background-color: var(--prin);
        
        color: var(--secun);
        font-weight: 900;
        
        box-shadow: 0 0 20px 3px var(--prin);
    }
}